{% extends 'layout/layout.twig' %}

{% block title %}
	<div class="row">
		<div class="col text-center">
			<h3>Panel d'administration</h3>
		</div>
	</div>
{% endblock %}

{% block content %}

	<div class="container">
		<div class="row">
			<div class="col-lg-6 pb-2">
				<table class="panel">
					<tr>
						<td>
							<h4>Informations du compte</h4>
						</td>
					</tr>
					<tr>
						<td>Session ID :</td>
						<td>{{ session.sessionId }}</td>
					</tr>
					<tr>
						<td>Pseudo :</td>
						<td>{{ session.pseudo }}</td>

					</tr>
					<tr>
						<td>Adresse email :</td>
						<td>{{ session.email }}</td>
					</tr>
					<tr>
						<td>Date de création du compte :
						</td>
						<td>{{ session.dateRegister|date('d/m/Y \\à H:i:s')  }}</td>
					</tr>
					<tr>
						<td>Rang :
						</td>
						<td>{{ session.rank }}</td>
					</tr>
				</table>
			</div>

			<div class="col-lg-6 pt-2 link ">
				<div class="row pb-2 justify-content-center">
					<a class="btn btn-default btn-secondary" href="index.php?page=admin&method=listUser">Gestion des utilisateurs</a>
				</div>
				<div class="row pb-2 justify-content-center">
					<a class="btn btn-default btn-secondary" href="index.php?page=article&method=listAdmin">Gestion des articles</a>
				</div>
				<div class="row pb-2 justify-content-center">
					<a class="btn btn-default btn-secondary" href="index.php?page=comment&method=listAllComment">Gestion des commentaires</a>
				</div>
				<div class="row pb-2 justify-content-center">
					<a class="btn btn-default btn-secondary" href="index.php?page=admin&method=changePassword">Changer de mot de passe</a>
				</div>
			</div>
		</div>
	</div>


	{% if password is defined %}
		<div class="container">
			<div class="row justify-content-center">
				<p>Changement de mot de passe</p>
			</div>
			<div class="row justify-content-center">
				<form method="post" action="index.php?page=admin&method=changePassword">
					<div class="form-group">
						<label for="passwrd">Ancien mot de passe</label>
						<input type="password" name="oldpassword" class="form-control" id="passwrd" placeholder="Ancien mot de passe">
					</div>
					<div class="form-group">
						<label for="passwrd">Nouveau mot de passe</label>
						<input type="password" name="password1" class="form-control" id="passwrd" placeholder="Nouveau mot de passe">
					</div>
					<div class="form-group">
						<label for="passwrd">Re-rentrez le nouveau mot de passe</label>
						<input type="password" name="password2" class="form-control" id="passwrd" placeholder="Vérification nouveau mot de passe">
					</div>
					<button type="submit" class="btn btn-primary">Changer</button>
				</form>
			</div>
		</div>
	{% endif %}

	{% if user is defined %}
		<hr>
		<section class="list-user">
			<div class="container">
				<div class="row">
					{% for users in user %}
						<div class="col-lg-4 col-md-6">
							<div class="card" style="width: 18rem; margin-top: 20px;">

								<div class="card-body">
									<h5 class="card-title">{{ users.pseudo }}</h5>
									<p class="card-text">{{ users.email }}</p>
									<p class="card-text">Membre depuis le{{ users.dateRegister|date('d/m/Y \\à H:i:s')  }}</p>
									<p class="card-text">
										{% if users.rank == 1%}
											Administrateur
										{% elseif users.rank == 2 %}
											Utilisateur
										{% endif %}
									</p>
								</div>

							</div>
						</div>
					{% endfor %}
				</div>
			</div>
		</section>
	{% endif %}


	{% if article is defined %}
		<hr>
		<section class="list-article">
			<div class="container">
				<div class="row">
					{% for articles in article %}
						<div class="card" style="width: 30rem; margin-top: 20px; margin-left: 20px;">
							<div class="card-body">
								<h5 class="card-title">
									{{ articles.title }}</h5>
								<h6 class="card-subtitle mb-2 text-muted">
									{{ articles.chapo }}</h6>
								<p class="card-text">{{ articles.content }}</p>
								<p class="card-text">Date de création:
									{{ articles.date|date('d/m/Y \\à H:i:s') }}</p>
								{% if articles.dateUpdate != null %}
									<p class="card-text">Dernière modification le :
										{{ articles.dateUpdate|date('d/m/Y \\à H:i:s') }}</p>
								{% endif %}
								<p class="card-text">Crée par :
									{{ articles.pseudo }}</p>
								{% if articles.validated == '0' %}
									<a href="index.php?page=article&method=approveArticle&idArticle={{ articles.idArticle }}" class="card-link">Approuver</a>
								{% endif %}
								<a href="index.php?page=article&method=editArticle&idArticle={{ articles.idArticle }}" class="card-link">Modifier</a>
								<a href="index.php?page=article&method=deleteArticle&idArticle={{ articles.idArticle }}" onclick="return confirm('Voulez-vous supprimer définitivement cet article ?')" class="card-link">Supprimer</a>

							</div>
						</div>
					{% endfor %}
				</div>
			</div>
		{% endif %}
	</section>

	{% if comment is defined %}
		<hr>
		{# <div class="container">
									{% for comments in comment %}
										<div class="row justify-content-center">
											<p>ID :
												{{ comments.idComment }}</p>
										</div>
										<div class="row justify-content-center">
											<p>Commentaire :
												{{ comments.content }}</p>
										</div>
										<div class="row justify-content-center">
											<p>Ecrit par :
												{{ comments.pseudo }}
												le
												{{ comments.date|date('d/m/Y \\à H:i:s')  }}</p>
										</div>
										<div class="row justify-content-center">
											<p>Article :
												{{ comments.title }}</p>
										</div>
						
										<div class="row justify-content-around">
											{% if comments.validate == '1' %}
												<p>Commentaire approuvé</p>
											{% elseif comments.validate == '0' %}
												<p>Commentaire en attente de validation</p>
												<a class="btn btn-primary" href="index.php?page=comment&method=approveComment&idComment={{ comments.idComment }}">Approuver</a>
											{% endif %}
											<a class="btn btn-danger" href="index.php?page=comment&method=deleteComment&idComment={{ comments.idComment }}">Supprimer</a>
										</div>
						
										<hr>
									{% endfor %}
									{% if comment is empty %}
										<div class="row justify-content-center">
											<p>Il n'y a aucun commentaires</p>
										</div>
									{% endif %}
								</div> #}
		<section class="list-comment">
			<div class="container">
				<div class="row">
					{% for comments in comment %}
						<div class="card" style="width: 30rem; margin-top: 20px; margin-left: 20px;">
							<div class="card-body">
								<h5 class="card-title">Article :
									{{ comments.title }}</h5>
								<h6 class="card-subtitle mb-2 text-muted">Ecrit par :
									{{ comments.pseudo }}
									le
									{{ comments.date|date('d/m/Y \\à H:i:s')  }}</h6>
								<p class="card-text">{{ comments.content }}</p>
								<p class="card-text">
									{% if comments.validate == '1' %}
										<p>Commentaire approuvé</p>
									{% elseif comments.validate == '0' %}
										<p>Commentaire en attente de validation</p>
									</p>
									<a href="index.php?page=comment&method=approveComment&idComment={{ comments.idComment }}" class="card-link">Approuver</a>
								{% endif %}
								<a href="index.php?page=comment&method=deleteComment&idComment={{ comments.idComment }}" onclick="return confirm('Voulez-vous supprimer définitivement ce commentaire ?')"  class="card-link">Supprimer</a>
							</div>
							</div>
						{% endfor %}
						{% if comment is empty %}
							<p class="card-text">Il n'y a aucun commentaires</p>

						</div>
					{% endif %}
				</div>

			</div>
		{% endif %}
	</section>


{% endblock %}
